.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 272px;
    padding: 20px 16px 16px 16px;
    border: 1px solid grey;
    height: 964px;
    flex-shrink: 0;
    font-size: 15px;
}

.side-bar h{
    text-decoration: none;
}